[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
o365 = "2.0.15"
msal = "1.14.0"
beautifulsoup4 = ">=4.10.0"
lxml = ">=4.6.3"
pytest = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
click = "*"
python-magic = "0.4.24"

[dev-packages]
ipython = "7.27.0"

[requires]
python_version = "3.9"
